This file is going to study the relationship between a baseball players their salary and whether or not they were in the hall of fame. The idea is to see if there is a relationship between being paid the highest and being in the hall of fame or not. We will check to see if having a high salary is directly related to being in the hall of fame.

# Below is the data from the CSVs

In [15]:
import csv
import numpy as np
import pandas as pd
import unicodecsv
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [17]:
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)
    

salaries = read_csv('salaries.csv')
hall_of_fame = read_csv('hall_of_fame.csv')
    

print (salaries [0]) 
print (hall_of_fame [0])

{u'lgID': u'NL', u'playerID': u'barkele01', u'yearID': u'1985', u'teamID': u'ATL', u'salary': u'870000'}
{u'category': u'Player', u'votes': u'222', u'needed_note': u'', u'inducted': u'Y', u'needed': u'170', u'playerID': u'cobbty01', u'votedBy': u'BBWAA', u'yearid': u'1936', u'ballots': u'226'}

In [28]:
salaries_df = pd.read_csv('salaries.csv')

In [29]:
salaries_df.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [30]:
salaries_df.describe()

             yearID        salary
count  25575.000000  2.557500e+04
mean    2000.374389  2.008563e+06
std        8.610604  3.315706e+06
min     1985.000000  0.000000e+00
25%     1993.000000  2.750000e+05
50%     2000.000000  5.500000e+05
75%     2008.000000  2.250000e+06
max     2015.000000  3.300000e+07

In [35]:
salaries_df.values()

TypeError: 'numpy.ndarray' object is not callable

In [31]:
hall_of_fame_df = pd.read_csv('hall_of_fame.csv')

In [32]:
hall_of_fame_df.head()

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
3,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN
4,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN

In [33]:
hall_of_fame_df.describe()

            yearid      ballots       needed        votes
count  4120.000000  3927.000000  3770.000000  3927.000000
mean   1968.889563   320.705373   243.989920    50.995926
std      22.899162   125.495156    94.557016    84.845195
min    1936.000000    78.000000    59.000000     0.000000
25%    1950.000000   226.000000   175.000000     2.000000
50%    1964.000000   274.000000   213.000000    10.000000
75%    1987.000000   425.000000   321.000000    64.000000
max    2016.000000   581.000000   436.000000   555.000000

In [33]:
len (hall_of_fame)

4120

In [34]:
len (salaries)

25575

In [ ]:
#get rid of any player not in hall of fame before 1985

In [ ]:
#hall of fame players and their salaries from 1985 to today

In [ ]:
#take the minimum hall of fame players salary, and check to see how 
#many players not in hall of fame have a salary greater than or equal

In [64]:
#pulling hall of fame data greater than 1985

recent_hall_of_fame = set()
for years in hall_of_fame:
       years is ['year_id'] > 1985
        
len (years)

9

In [7]:
hall_of_fame = set()
if True:
        for years in hall_of_fame:
print 'years {}'.format(hall_of_fame)

IndentationError: expected an indented block (<ipython-input-7-5b1f4b02c041>, line 4)